* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #ffffff;
}

#workspaces button {
    background: #000000;
    color: #888888;
    padding: 0 8px;
}

#workspaces button.active {
    color: #ffffff;
}

#workspaces button:hover {
    background: #111111;
}

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#battery {
    padding: 0 10px;
    background: #000000;
}

